@{ 
    Layout = null;
    ViewBag.Title = "登录 - 中国铁塔基站规划系统";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/styles/login.css" rel="stylesheet" />
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <form id="loginform" asp-action="Login" asp-controller="Account" method="post">
        <div id="chinatower"><img class="logo logo-chinatower" src="~/images/logo-login.png" /><div id="connect">中国铁塔基站规划系统</div></div>
        <div id="mainlogin">
            <div id="or"></div>
            <h1>登录中国铁塔基站规划系统</h1>
            <div>
                <input type="text" name="username" placeholder="用户名" value="">
                <input type="password" name="password" placeholder="密码" value="">
                <button type="submit"><i class="fa fa-arrow-right"></i></button>
            </div>
            <div id="note">
                <input name="remember" style="width:13px;display:inline;" type="checkbox" value="true" />
                记住密码
            </div>
        </div>
    </form>
</body>
</html>